name: Lint

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - '*'
jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v4
        name: Cache TFLINT plugin dir
        with:
          path: ~/.tflint.d/plugins
          key: tflint-${{ hashFiles('.tflint.hcl') }}
      - uses: terraform-linters/setup-tflint@v6
        name: Setup TFLint
        with:
          tflint_version: latest

      - name: Run lint
        run: make lint
        env:
          GITHUB_TOKEN: ${{ github.token }}

  validate:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: hashicorp/setup-terraform@v3

      - name: Run validate
        run: make validate
